/*background #F5F5F5*/
/*main color #212121*/
/*text color #757575*/
/*accent color #2196F3*/
/*hero background color #2F303A;*/
:root {
  --primary-text-color: #212121;
  --secondary-text-color:#757575;
  --contacts-text-color: #FFFFFF;
  --secondary-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-background-color : #F5F5F5;
  --accent-color: #2196F3;
  --secondary-background-color:#2F303A;
  --secondary-accent-color: #000000;

  --anim-fast: 300ms ease-in-out;
  --anim-slow: 800ms ease;
}
/*Reset Start*/
h1,h2, h3, h4, h5, h6, p{
  margin: 0;
}
.link a {
  text-decoration: none;
  color: currentColor;
}
.list, ul{
  margin: 0;
  padding: 0;
  list-style: none;

}
img{
  display: block;
}
.button{
  display: inline-block;
}
.section.work , .section-credo, .section.portfolio, section.team,.section.clients {
  padding-bottom: 94px;
  
}
.section.portfolio, .section-credo, .section.team,.section.clients {
padding-top: 94px;
}

/*reset end*/

/*container*/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
 
  
}
.page-header {
  border-bottom: 1px solid #ECECEC;
}
body{
 
  color: var(--secondary-text-color);
  font-family: 'Roboto', sans-serif ;
  letter-spacing: 0.03em;
}
.container.main-nav,
.footer > .container {
padding-top: 0;
padding-bottom: 0;
}

/*logo*/
.logo{
  color: var(--secondary-accent-color);
  font-family: 'Raleway', sans-serif ;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31/26);
  text-decoration: none;
  border-radius: 4px;
  
}

/*site-nav*/
.site-nav-list{
  list-style: none;
}
.site-nav,
.contacts-list{
display: flex;
align-items: center;
list-style: none;
}

.contacts-list{
  margin-left: auto;
}
.site-nav-list .item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list .item:not(:last-child) {
  margin-right: 30px;
}
.site-nav-list{
  display: flex;
  margin-left: 93px;
  
  }

.site-nav-list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-list .link:hover,
.site-nav-list .link:focus
{
  color: var(--accent-color);
  
}
 
.current::after {
  content: '';
  position: absolute; 
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  display: block;
}

/*contacts */
.contacts-list .link{
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  gap:10px ;
}
.contacts-list{
  list-style: none;
  padding:0; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list .link:hover,
.contacts-list .link:focus 
{
  color: var(--accent-color) ;
  
}
.contacts-icon{
  fill: currentColor;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*hero*/

.hero{
  background-color: var(--secondary-background-color);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)),
  url(../images/header.img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   
 }


.hero-title {
  color: var(--contacts-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60/44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px; 

}
.order-button{
  background-color: var(--accent-color);
  color: var(--contacts-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px; 
  box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover, 
.order-button:focus {
  color:var(--contacts-text-color) ;
  background-color: #188CE8;
  
}
.order-button:active{
  color: #188CE8;
  
}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  }
 .modal{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--contacts-text-color);

  animation:animate 1500ms 2 500ms;

}

@keyframes animate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}

  .backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;  
  }
  .close{
    min-width: 30px;
    min-height: 30px;
    padding: 0;
    border: none;
    margin-top: 8px;
    margin-right: 8px;
    background-color: transparent; 
    background-image: url(../images/close.svg); 
    cursor: pointer; 

  }
/*Company Credo Section*/
.features-list{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.features-title{
  
color: var(--primary-text-color);
font-size: 14px;
line-height: calc(16/14);
margin-bottom: 10px;

}
.features-description{
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: calc(24/14);

}
.features-card:not(:last-child) {
  margin-right: 30px;
}
.icon-card{
    display: block;
    content: '';
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-size: contain;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}



/*Work Section*/
.section-work{

padding-top: 0;
}
.work-list{
  list-style: none;
  display: flex;
  justify-content:space-evenly;
  padding:0;
  margin: 0;
  
}

.section-work{
  color: var(--primary-text-color); 
  font-size: 36px;
  line-height: calc(42/36);
  text-align: center;
  margin-bottom: 50px;
}
.img-list:not(:last-child) {
  margin-right: 30px;
}
.img-list{
  padding-bottom: 0;
  
}


  .work-thumb{
    position: relative;
  }
  .work-thumb::before{
    display: inline-block;
    position:absolute;
    content: '';
    width:370px ;
    height: 70px;
    background-color:  rgba(47, 48, 58, 0.8);
    bottom: 0;
    right: 0;
  }

.work-text{
 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color:var(--contacts-text-color);
}

/*Team Section*/

.section-galery{
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: calc(42/36);
  text-align: center;
  margin-bottom: 50px;
  
}

.section.team{
  background-color: #F5F4FA;
 
}
.team-list{
  list-style: none;
  display: flex;
  text-align: center;
  padding-left: 0;
  margin: 0;
}
.team-card:not(:last-child) {

  margin-right: 30px;
}
.team-card{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  background-color: var(--contacts-text-color);
}
.team-subtitle{
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19/16);
  margin-bottom: 10px;

}
.team-box{
padding-top: 30px;
padding-bottom: 30px;
}


.position{
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: calc(19/16);
  text-align: center;
  margin-top:10px ;
}
.img{
  padding-bottom: 30px;
}
.socials-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-top: 16px;
}
.socials-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--contacts-text-color);
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: var(--contacts-text-color) ;

}
.socials-icon{
  fill:currentColor;
}


/*Section Clients*/

.title-clients{
  color: var(--primary-text-color); 
  font-size: 36px;
  line-height: calc(42/36);
  text-align: center;
  margin-bottom: 50px;
}

.clients-box {
  display: flex;
  justify-content: center;
}


.clients-box > .item:not(:last-child) {
  margin-right: 30px;
}


.clients-box .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.clients-box .link:hover,
.clients-box .link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}


/*Footer Contacts*/

.footer-flex-element:not(:last-child) {
  margin-right: 94px;
}
.footer{

  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
 
}

.logo-footer{
  color: var(--contacts-text-color);
  font-family: 'Raleway', sans-serif ;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31/26);
  text-decoration: none;
  padding-bottom: 20px;
  display: block;
}
.google-link .link{
  color: var(--contacts-text-color);
  font-size: 14px;
  line-height: calc(24/14);
  text-decoration: none;
}
.footer-list {
list-style: none;
font-style: normal;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
padding-left: 0;
margin-bottom: 0;
}
.footer-contact .link{
  color: var(--secondary-contacts-color);
  text-decoration: none;
}
.footer-list :not(:last-child) {
  display: block;
  margin-top: 0;
  margin-bottom: 9px;
  
}
/*Footer Socials*/

.footer-flex {
  display: flex;
  align-items: baseline;
   
}
.footer-flex:not(:last-child) {
  margin-right: 94px;
}
.footer-offer {
 
  margin-bottom: 20px;
}
.offer{
  margin-left: 70px;
}
h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--contacts-text-color);
}
.footer-soclink {
  display: flex;
}
.footer-soclink .footer-items:not(:last-child) {
  margin-right: 10px;
}

.footer-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--contacts-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus{
 background-color: var(--accent-color);
}
/*Portfolio Section Filters*/

.filter-list{
  list-style: none; 
  display: flex;
  margin-bottom: 50px;
  margin-top: 0;
  padding-left: 0;
  justify-content: center;
  
}


.filter-list :not(:last-child) {
  margin-right: 8px;
  
}

.filter-list .button:hover,
.filter-list .button:focus{
  background-color: var(--accent-color);
  color: var(--contacts-text-color) ;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-list .button{
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: calc(26/16);
   cursor: pointer;
   background-color: #F5F4FA;
   color: var(--primary-text-color);
   border-radius: 4px;
   border: 1px solid transparent;
   text-align: center;
   display: inline-block;
   min-width: 73px;
   padding: 7px 23px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
 }
/*Portfolio Gallery*/
 /*Thumb Info Window*/
 .project-thumb{
  position: relative;
  overflow: hidden;
 }
 .thumb-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .project-thumb:hover .thumb-info,
 .project-thumb:focus .thumb-info {
   transform: translateY(0);
 }

 .thumb-text{
   font-size: 18px;
   line-height: calc(28/18);
   letter-spacing: 0.03em;
   color: var(--contacts-text-color);
 }

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
  gap: 30px;

}
.list-project-link{
  text-decoration: none;
}
.project:hover,
.project:focus{
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.project .item:nth-last-child(-n + 3) {
  margin-bottom: 30px;
}
.project .item:nth-child(3n) {
  margin-right: 30px;

}

.gallery-description{
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: calc(30/16);
  letter-spacing: 0.03em;
  margin-top: 4px;
  
}

.portfolio-gallery{
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: calc(36/18);
  letter-spacing: 0.06em;
 
}
.project-title {
  max-width: 370px;
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
  
}
.project{
  max-width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

